<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ resume.name }} - Resume</title>
    <link rel="stylesheet" href="css/styles.css">
    <script defer src="assets/script.js"></script>
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="container">
                <h1 class="logo">{{ resume.name }}</h1>
                <u1 class="nav-links">
                    <li><a href="#about">About</a></li>
                    <li><a href="#experience">Experience</a></li>
                    <li><a href="#education">Education</a></li>
                    <li><a href="#skills">Skills</a></li>
                    {% if resume.certifications %}
                    <li><a href="#certifications">Certifications</a></li>
                    {% endif %}
                </u1>
                <button id="theme-toggle" aria-label="Toggle Dark Mode">☀️</button>
            </div>
        </nav>
    </header>
    <main>
        <section id="about" class="section">
            <div class="container">
                <h2>About</h2>
                <p>Email: <a href="mailto:{{ resume.email }}">{{ resume.email }}</a></p>
                <p>Location: {{resume.location}}</p>
                <p>LinkedIn: <a href="{{ resume.linkedin }}">{{ resume.linkedin }}</a></p>
                <p>Github: <a href="{{ resume.github }}">{{ resume.github }}</a></p>
            </div>
        </section>
    </main>